<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My First Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<h1>Vue.js</h1>
<div id="app">
    <p v-bind:style="styles">
        {{message}}
    </p>
</div>

<script>
  var data = {
    message: "Hello vue!",
    styles: {
      margin: '10px',
      padding: '5px 20;x',
      fontSize: '20pt',
      color: 'red',
      backgroundColor: '#FEE',
      border: '3px solid blue'
    }
  };

  var app = new Vue({
    el: '#app',
    data: data
  });

  function doAction(event) {
    data.message = event.target.value;
  }
</script>
</body>
</html>