<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My First Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<style>
    .hello {
        font-size: 20pt;
        font-weight: bold;
        border: 1px solid magenta;
        padding: 5px 10px 0 10px;
        margin: 10px;
    }
</style>
<h1>Vue.js</h1>
<div id="app">
    <div><hello name="Taro" /></div>
    <div><hello name="Hanako" /></div>
    <div><hello name="(/ ω \)" /></div>
    <div><hello name="(´･ω･｀)" /></div>
</div>

<script>
  Vue.component('hello',
    {
      props: ['name'],
      template: '<p class="hello">Hello, {{name}}!</p>',
    });
    var app = new Vue({
        el: '#app',
    });
</script>
</body>
</html>